<%- include('header'); -%>

<body>
  <div class="box" id="heading">

    <h1> <%= listTitle  %>!</h1>
  </div>
  <div class="box">

    <% for (var i=0; i<newListItem.length; i++){%>

    <div class="items">
      <input type="checkbox" name="" value="">
      <p><%= newListItem[i] %> </p>

    </div>
    <% } %>

    <form class="items" action="/" method="post">
      <input type="text" name="newItem" value="" placeholder="add new item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>


</body>
<%- include('footer'); -%>
